<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tu Extracto de QNT</title>
</head>

<body style="background-color: #f5f5f5; font-family: Arial, sans-serif; padding: 20px; text-align: center;">

    <div
        style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">

        <img src="https://extractos.qnt.com.co/static/images/logo.jpg" alt="Logo"
            style="max-width: 50%; height: auto; margin-bottom: 5px;">

        <h2 style="color: #00263C; margin-top: 5px;">¡Hola {{ nombre_titular }}!</h2>
        <p style="color: #666666; font-size: 16px;">Recibe un cordial saludo del equipo de
            QNT; a continuación
            encontrarás el último extracto de tus productos disponibles
            para tu consulta.</p>

        <p style="color: #81c784; font-size: 17px; margin-top: 20px; font-weight: 600; word-break: normal;">Para poder
            visualizar tu extracto, utiliza tu
            número de
            cédula como contraseña.</p>
        <a href="{{ extracto_url }}"
            style="display: inline-block; margin-top: 15px; padding: 15px 30px; background-color: #00263C; color: #ffffff; text-decoration: none; border-radius: 5px;">Descargar
            mi
            extracto</a>
        <p style="color: #555555; font-size: 14px; margin-top: 20px; border-top: 1px solid #e5e5e5; padding-top: 20px;">
            En QNT, tu confianza es nuestra prioridad. Estamos comprometidos con la transparencia y claridad en cada
            extracto
            que proporcionamos.
        </p>

        <!-- Redes Sociales -->
        <div style="margin-top: 20px;">
            <a href="https://www.instagram.com/qnt_colombia/?locale=es_LA" style="margin: 0 10px; color:#00263C; "><img
                    src="https://extractos.qnt.com.co/static/images/mail_rrss_icons/instagram.png" alt="Instagram"
                    style="max-height: 30px; color:#00263C;"></a>
            <a href="https://www.facebook.com/QNTcolombia/?locale=es_LA" style="margin: 0 10px;"><img
                    src="https://extractos.qnt.com.co/static/images/mail_rrss_icons/facebook.png" alt="Facebook"
                    style="max-height: 30px; color:#00263C;"></a>
            <a href="https://www.linkedin.com/company/qntcolombia/" style="margin: 0 10px;"><img
                    src="https://extractos.qnt.com.co/static/images/mail_rrss_icons/linkedin.png" alt="LinkedIn"
                    style="max-height: 30px; color:#00263C;"></a>
        </div>

    </div>

</body>

</html>