<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Extracto base</title>
</head>

<body>
    <section>
        <div class="container">
            <header>
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="img-logo">
            </header>
            <div style="display: flex; color:#00263C;">
                <div
                    style="width: 65%; height: 70px; border: 1.5px solid #00263C; border-radius: 10px; margin: 30px; line-height: 100%; padding: 6px; overflow: hidden;">
                    <div style="padding: 5px 0px 0px 5px;"><strong>Certificado obligaciones QNT</strong>
                        <br>
                        <span>{{cliente.nombre_titular}}</span>
                        <br><span>{{cliente.id}}</span>
                        <br><span>{{ generation_date }}</span>
                    </div>
                </div>
                <div
                    style="width: 45%; height: 80px; border: 1.5px solid #00263C; border-radius: 10px; margin: 30px 30px 30px 0px; text-align: center; padding: 1px 0px 0px 0px; overflow: hidden; align-items: center;">
                    <div style="padding: 15px 0px 0px 0px;"><strong>PERIODO</strong>
                        <h2 style="color: #62ac21; padding: 0px; margin:0px;">{{ periodo }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <p
            style="color: #00263C; margin: 0px 30px 0px 30px; font-size:18px !important; text-align: left; word-break: break-word;">
            Certificamos que el (la)
            señor(a)
            {{cliente.nombre_titular}} identificado(a) con el número de documento
            {{ cliente.id_cliente}} tiene obligacion(es) con QNT S.A.S, de los productos mostrados a continuación:</p>
    </section>

    <section>
        <table class="rounded"
            style="border-collapse: collapse; border-radius: 10px; overflow: hidden; background-color: #ffffff; color: #00263C; border: 1px solid #00263C; margin: 30px 30px 10px 30px; text-align: center;">
            <thead>
                <tr>
                    <th style="padding: 10px; border: 1px solid #00263C;">No de plan de pago</th>
                    <th style="padding: 10px; border: 1px solid #00263C;">Día de pago</th>
                    <th style="padding: 10px; border: 1px solid #00263C;">Valor cuota mensual</th>
                    <th style="padding: 10px; border: 1px solid #00263C;">Valor en mora</th>
                    <th style="padding: 10px; border: 1px solid #00263C;">Días en mora</th>
                    <th style="padding: 10px; border: 1px solid #00263C;">Fecha siguiente pago</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td style="padding: 10px; border: 1px solid #00263C;">{{ registro.numero_producto|mask }}</td>
                    <td style="padding: 10px; border: 1px solid #00263C;">{{ registro.dia_pago}}</td>
                    <td style="padding: 10px; border: 1px solid #00263C;">${{ registro.valor_cuota_mensual|currency_cop
                        }}</td>
                    <td style="padding: 10px; border: 1px solid #00263C;">${{ registro.valor_mora|currency_cop }}</td>
                    <td style="padding: 10px; border: 1px solid #00263C;">{{ registro.dias_mora }}</td>
                    <td style="padding: 10px; border: 1px solid #00263C;">{{
                        registro.siguiente_pago.strftime('%d/%m/%Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <div style="align-items: center; justify-content: center; margin: 0px 0px 40px 60px;"><img
                src="{{ url_for('static', filename='images/content.png') }}" alt="" style="width: 700px;"></div>
    </section>


    <div id="footer-card" style="display: flex; color:#00263C;">
        <div style="width: 65%;">
            <div style="padding: 5px 0px 0px 5px;">
                Un abrazo,
                <br><b>Equipo QNT</b>
                <br>
                <br><a href="http://www.qnt.com.co">www.qnt.com.co</a>
                <br>
                <br>
                <div class="social-icons">
                    <!-- Añade aquí tus íconos de redes sociales -->
                    <a href="URL_ENLACE_RED_SOCIAL">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                            <path fill="white"
                                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z" />
                        </svg>
                    </a>
                    <a href="URL_ENLACE_RED_SOCIAL">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path
                                    d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" />
                                <path fill="white"
                                    d="M4 12a8 8 0 1 1 9 7.938V14h2a1 1 0 1 0 0-2h-2v-2a1 1 0 0 1 1-1h.5a1 1 0 1 0 0-2H14a3 3 0 0 0-3 3v2H9a1 1 0 1 0 0 2h2v5.938A8.001 8.001 0 0 1 4 12Zm8 10c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10Z" />
                            </g>
                        </svg>
                    </a>
                    <a href="URL_ENLACE_RED_SOCIAL">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                            class="icon-color">
                            <g fill="none">
                                <path
                                    d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" />
                                <path fill="white"
                                    d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h12Zm0 2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1ZM8 10a1 1 0 0 1 .993.883L9 11v5a1 1 0 0 1-1.993.117L7 16v-5a1 1 0 0 1 1-1Zm3-1a1 1 0 0 1 .984.821a5.82 5.82 0 0 1 .623-.313c.667-.285 1.666-.442 2.568-.159c.473.15.948.43 1.3.907c.315.425.485.942.519 1.523L17 12v4a1 1 0 0 1-1.993.117L15 16v-4c0-.33-.08-.484-.132-.555a.548.548 0 0 0-.293-.188c-.348-.11-.849-.052-1.182.09c-.5.214-.958.55-1.27.861L12 12.34V16a1 1 0 0 1-1.993.117L10 16v-6a1 1 0 0 1 1-1ZM8 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2Z" />
                            </g>
                        </svg>
                    </a>
                </div>
                <a href="mailto:Servicioalcliente@qnt.com.co"><br>Servicioalcliente@qnt.com.co</a>
                <br><b>Whatsapp:</b> 3214567878
                <br><b>Teléfono:</b> (+601)234 22 72
                <a href="URL">
                    <br>Política de privacidad</a>
                <br>
                <span>© QNT SAS Colombia, 2023</span>
            </div>
        </div>
        <div
            style="width: 45%; height: 80px; border: 1.5px solid #00263C; border-radius: 10px; margin: 60px 30px 30px 0px; text-align: center; padding: 1px 0px 0px 0px; overflow: hidden; align-items: center;">
            <div class="">
                <img src="{{ url_for('static', filename='images/logo-footer.png') }}" alt="Logo" class="logo"
                    width="100px">
            </div>
        </div>
    </div>
    </div>
</body>

</html>